.row {
  display: flex;
  width: 1920px;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  
}

.mem-container {
  width: 20%;
  margin: 10px;
  text-align: center;
}

.mem-container img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}